.main-container {
  margin-top: 8%;
}


h1,
h4 {
  color: #00b39b;
}

h3 .description-container {
  line-height: 1.75;
  margin: 25px;
  white-space: normal;
}

.brand {
  margin-left: 0.5%;
  padding-top: 1%;
  max-width: 100%;
  padding-top: 10px;
  fill: #747474;
}

.statis-div {

  flex-direction: column;
  font-size: 2.2em;
  font-weight: 400;
  max-width: 100% !important;
  background-color: #e5faf8;
  height: 600px;
  overflow: hidden;
}


.stat-title {
  color: #00b39b;
  margin-top: 5%;
}

.statis-desc {
  font-size: .4em;
  font-weight: 300;
  padding: 13px;

}

.primary-dev {
  width: 56% !important;
}


.secondairy-div {
  margin-left: 2%;
  max-width: 44%;
}

.image-statis {
  margin-top: 1%;
  /* margin-left: -15%; */
}

.text-div {
  text-align: center;
}

.office-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
  margin: 0% 13% 9%;
}

footer {
  height: 75px;
  width: 100%;
  border-top: 1px solid grey;
  font-size: .75em;
  color: #ababab;
  text-align: center;
  line-height: 2.2;
}

footer a {
  color: #3d83df;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.box {
  background-color: #fff;
  width: 228px;
  height: 250px;
  border-radius: 5px;
  margin-top: 31px;
  text-align: center;
}

.box img {
  margin-top: 13%;
  width: 40px;
}

.statis-desc {
  font-size: .6em;
  font-weight: 400;
  /* line-height: 1.72; */
  padding: 13px 129px;
}